<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FireSwiffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>930411F71D5E098C00EA6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9304120B1D5E098D00EA6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>930412161D5E098D00EA6CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
